body {
    overflow-x: hidden;
}

.home {
    background-image: url('https://i.ytimg.com/vi/spZ40Wm5lXg/maxresdefault.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    width: 100%;
    height: 100%;
}

.homeh1 {
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90vh;
    font-size: 50px;
    font-weight: bold;
}

.arrows {
    width: 60px;
    height: 72px;
    position: absolute;
    left: 50%;
    margin-left: -30px;
    bottom: 20px;
}

.arrows path {
    stroke: white;
    fill: transparent;
    stroke-width: 1px;
    animation: arrow 2s infinite;
    -webkit-animation: arrow 2s infinite;
}

@keyframes arrow {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

@-webkit-keyframes arrow
/*Safari and Chrome*/

    {
    0% {
        opacity: 0
    }
    40% {
        opacity: 1
    }
    80% {
        opacity: 0
    }
    100% {
        opacity: 0
    }
}

.arrows path.a1 {
    animation-delay: -1s;
    -webkit-animation-delay: -1s;
}

.arrows path.a2 {
    animation-delay: -0.5s;
    -webkit-animation-delay: -0.5s;
}

.arrows path.a3 {
    animation-delay: 0s;
    -webkit-animation-delay: 0s;
}

.homepart1 {
    display: flex;
    flex-direction: row;
}

.homeimg {
    width: 50%;
}

.homecontent {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    flex-direction: column;
    height: 50vh;
}

.button {
    display: inline-flex;
    height: 40px;
    width: 150px;
    border: 2px solid  rgba(144, 25, 166, .6);
    margin: 20px 20px 20px 20px;
    color: dodgerblue;
    text-transform: uppercase;
    text-decoration: none;
    font-size: .8em;
    letter-spacing: 1.5px;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.button a {
    color: dodgerblue;
    text-decoration: none;
    letter-spacing: 1px;
}

#button-3 {
    position: relative;
    overflow: hidden;
    cursor: pointer;
}

#button-3 a {
    position: relative;
    transition: all .45s ease-Out;
}

#circle {
    width: 0%;
    height: 0%;
    opacity: 0;
    line-height: 40px;
    border-radius: 50%;
    background: linear-gradient(rgba(103, 135, 211, .6), rgba(144, 25, 166, .6));
    position: absolute;
    transition: all .5s ease-Out;
    top: 20px;
    left: 70px;
}

#button-3:hover #circle {
    width: 200%;
    height: 500%;
    opacity: 1;
    top: -70px;
    left: -70px;
}

#button-3:hover a {
    color: white;
}